footer
  .footer_flex
    .footer__logo Dreamshare
    div
      .footer__header Company
      .menu-text
        ul About
        ul Contact
        ul Press
        ul Blog
        ul Terms and Privacy
        ul Help
    .footer__header Partners
    .designed
      div Designed by
      .Areto_logo
