header.header_photo.pic_location
  .orange-black
    .top
      .top__logo Dreamshare
      .top__access
        .top__access_login Log in
        .top__access_signin Sign in
    .container.top_text
      h1
        | SHARE YOUR 
        br
        |  HOLIDAY DREAM
      .Roboto.Roboto_top And find the perfect partner to fullfill it
      .button_red Find your holiday partner