doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title finalTaskHTML_kberezynets
  link(rel='stylesheet', href='./css/main.min.css')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap', rel='stylesheet')
//-   link(rel='stylesheet', href='main.scss')
//-   link(rel='stylesheet', href='./styles/main.css')

body 
  block header 
    include header 
  block content 
  block footer 
    include footer 